<!DOCTYPE html>
<html>
  <%- include('header') %>
<body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Ecommerce</label>
      <ul>
        <li>
          <% if (user) { %>
            <a href="/products">Shop</a>
            <% } else { %>
              <a href="#" onclick="alert('Please login first');">Shop</a>
              <% } %>
        </li>
        <% if (user) { %>
          <li><a href="/myorder">
              my order
            </a></li>
          <li><a href="/profile">
              <%= user.name %>
            </a></li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/login" class="login active">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% } %>
      </ul>
    </nav>
  <section class="home">
    <div class="mb-3 w-100">
      <div class="row ">
        <div class="col-lg-12">
          <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#header-carousel" data-slide-to="1"></li>
              <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item position-relative active" style="height: 430px;">
                <img class="position-absolute w-100 h-100" src="https://www.dior.com/couture/ecommerce/media/catalog/product/7/v/1690973885_3SN279ZRD_H065_E03_ZHC.jpg?imwidth=828" style="object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <div class="p-3" style="max-width: 700px;">
                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Shoes Fashion</h1>
                    <a class="btn btn-outline-dark py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop
                      Now</a>
                  </div>
                </div>
              </div>
              <div class="carousel-item position-relative" style="height: 430px;">
                <img class="position-absolute w-100 h-100" src="https://pixel-shot.com/get_image/i-5942025-0.JPG" style="object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <div class="p-3" style="max-width: 700px;">
                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Cloths Fashion</h1>
                    <a class="btn btn-outline-dark py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop
                      Now</a>
                  </div>
                </div>
              </div>
              <div class="carousel-item position-relative" style="height: 430px;">
                <img class="position-absolute w-100 h-100" src="https://images.pexels.com/photos/6438/apple-iphone-technology-white.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <div class="p-3" style="max-width: 700px;">
                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Electronics</h1>
                    <a class="btn btn-outline-dark py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop
                      Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
            <h1 class="fa fa-check  m-0 mr-3"></h1>
            <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
            <h1 class="fa fa-shipping-fast  m-0 mr-2"></h1>
            <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
            <h1 class="fa fa-lock   m-0 mr-3"></h1>
            <h5 class="font-weight-semi-bold m-0">Secure Payment</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
            <h1 class="fa fa-phone-volume  m-0 mr-3"></h1>
            <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured End -->
    <section class="home shop container">
      <div class="product-head">
        <h2 class="section-title">Recent Products</h2>
      </div>
    
      <!-- CONTENT -->
      <div class="shop-content">
            <% products.forEach((product)=> { %>
              <div class="product-box">
                <img src="<%= product.img %>" alt="" class="product-img">
                <h2 class="product-title">
                  <%= product.name %>
                </h2>
                $<span class="product-price">
                  <%= product.price %>
                </span>
              </div>
              <% }) %>
      </div>
      </div>
    </section>
    <!-- Categories Start -->
    <div class="container-fluid pt-5 mb-3 align-items-center justify-content-center">
      <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
          class="pr-3">Categories</span></h2>
      <div class="row px-xl-5 pb-3">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a class="text-decoration-none" href="">
            <div class="cat-item d-flex align-items-center mb-4">
              <div class="overflow-hidden" style="width: 100px; height: 100px;">
                <img class="img-fluid" src="/images/cat-1.jpg" alt="">
              </div>
              <div class="flex-fill pl-3">
                <h6>Category Name</h6>
                <small class="text-body">100 Products</small>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
              <div class="overflow-hidden" style="width: 100px; height: 100px;">
                <img class="img-fluid" src="/images/cat-2.jpg" alt="">
              </div>
              <div class="flex-fill pl-3">
                <h6>Category Name</h6>
                <small class="text-body">100 Products</small>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
              <div class="overflow-hidden" style="width: 100px; height: 100px;">
                <img class="img-fluid" src="/images/cat-3.jpg" alt="">
              </div>
              <div class="flex-fill pl-3">
                <h6>Category Name</h6>
                <small class="text-body">100 Products</small>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
              <div class="overflow-hidden" style="width: 100px; height: 100px;">
                <img class="img-fluid" src="/images/cat-3.jpg" alt="">
              </div>
              <div class="flex-fill pl-3">
                <h6>Category Name</h6>
                <small class="text-body">100 Products</small>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 pb-1">
          <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
              <div class="overflow-hidden" style="width: 100px; height: 100px;">
                <img class="img-fluid" src="/images/cat-4.jpg" alt="">
              </div>
              <div class="flex-fill pl-3">
                <h6>Category Name</h6>
                <small class="text-body">100 Products</small>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
              <div class="overflow-hidden" style="width: 100px; height: 100px;">
                <img class="img-fluid" src="/images/cat-1.jpg" alt="">
              </div>
              <div class="flex-fill pl-3">
                <h6>Category Name</h6>
                <small class="text-body">100 Products</small>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
    <!-- Categories End -->
  </section>
  <%- include('footer') -%>
  
  <script src="/javascripts/home.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>