<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ecommerce
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/products.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Ecommerce</label>
            <ul>
                <li><a href="/"><i class='bx bx-home' id="home-icon"></i></a></li>
                <li><a href="#"><i class='bx bx-shopping-bag' id="cart-icon"></i></a></li>
                
            </ul>
            <!-- CART  -->
            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
        
                <!-- CONTENT  -->
                <div class="cart-content">
        
        
                </div>
        
                <!-- TOTAL   -->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">$0</div>
                </div>
                <!-- BUY BUTTON  -->
                <button type="button" class="btn-buy">Buy Now</button>
                <!-- CART CLOSE  -->
                <i class='bx bx-x' id="cart-close"></i>
            </div>
            </div>
        </nav>
            <!-- SHOP SECTION -->
            <section class="home shop container">
               <div class="product-head">
                <h2 class="section-title">Shop Products</h2>
                <div class="search-bar">
                    <input type="text" id="search-input" placeholder="Search products...">
                    <button id="search-button">Search</button>
                </div>
               </div>
            
                <!-- CONTENT -->
                <div class="shop-content">
                    <% if (typeof error !=='undefined' && error !==null) { %>
                        <div style="text-align: center;margin-top: 20px;" class="error-message">
                           <h1><%= error %></h1> 
                        </div>
                        <% } %>
                    <% products.forEach((product)=> { %>
                        <div class="product-box">
                            <img src="<%= product.img %>" alt="" class="product-img">
                            <h2 class="product-title">
                                <%= product.name %>
                            </h2>
                            $<span class="product-price"><%= product.price %></span>
                            <i class='bx bx-shopping-bag add-cart'></i>
                        </div>
                        <% }) %>
                </div>
            
                <!-- PAGINATION -->
                <div class="pagination">
                    <% if (currentPage> 1) { %>
                        <a href="/products?page=<%= currentPage - 1 %>" class="prev">Prev</a>
                        <% } %>
            
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <a href="/products?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                                <% } %>
            
                                    <% if (currentPage < totalPages) { %>
                                        <a href="/products?page=<%= currentPage + 1 %>" class="next">Next</a>
                                        <% } %>
                </div>
            </section>
            <footer>
                <div class="footer-container">
                    <div class="footer-column col-12 col-md-4">
                        <h3>About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada faucibus ex, sit amet blandit
                            velit tincidunt id.</p>
                    </div>
                    <div class="footer-column col-12 col-md-4">
                        <h3>Categories</h3>
                        <ul>
                            <li><a style="color: black;" href="#">Electronics</a></li>
                            <li><a style="color: black;" href="#">Clothing</a></li>
                            <li><a style="color: black;" href="#">Home &amp; Kitchen</a></li>
                            <li><a style="color: black;" href="#">Books</a></li>
                        </ul>
                    </div>
                    <div class="footer-column col-12 col-md-4">
                        <h3>Customer Service</h3>
                        <ul>
                            <li><a style="color: black;" href="#">Contact Us</a></li>
                            <li><a style="color: black;" href="#">FAQ</a></li>
                            <li><a style="color: black;" href="#">Shipping Information</a></li>
                            <li><a style="color: black;" href="#">Returns &amp; Exchanges</a></li>
                        </ul>
                    </div>
                    <div class="footer-column col-12 col-md-4">
                        <h3>Follow Us</h3>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="bottom-bar">
                    <p>&copy; 2023 - All rights reserved</p>
                </div>
            </footer>
                <script src="/javascripts/product.js"></script>
                <script src="/search.js"></script>
    </body>

</html>